/*.theme-container .theme-dark {
  $accentColor = #48B381
  $textColor = black
  $borderColor = grey
  $codeBgColor = lightgrey  
}*/
/*html, body , .navbar {
  background-color: #2D213B;
  display: flexbox;
}

.sidebar, .theme-container .sidebar {
 background-color: #2D213B;
}

.theme-container .navbar,
.theme-container .links,{
  background-color: #2D213B;
}

.theme-container .search-box input,
.theme-container .search-box .suggestion a {
  color: #332E3C;
}

h1, h2, h3 {
    display: flex;
    align-items: center;
    justify-content: left;
}

.home {
    h1, h2, h3 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.theme-container .content code {
  background-color: #332E3C;
}*/