.theme-container {
  $accentColor = pink
  $textColor = white
  $borderColor = grey
  $codeBgColor = lightgrey  
}

.theme-dark {
  $accentColor := #48B381
  $textColor := black
  $borderColor := grey
  $codeBgColor := lightgrey  
}